html{
    background: url("main.png") rgb(136,2,2);
    background-size: 100%;
    background-repeat: no-repeat;  
}

body{
    margin-top: 30%;
    margin-left: 45%;
}

#b1{
    height: 50px;
    width: 200px;
    color: black;
    font-size: 30px;
    text-align: center;
}